body {
    background-image: radial-gradient(circle, #D0D0D0, gray);
}

.main {
    margin-top: 7%;
}

.zona-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-align: center;
}

.zona-1 h1 {
    font-size: 30px;
}

.zona-1 h3 {
    max-width: 60%;
    font-weight: 500;
}

.zona-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.barra-bus {
    background-color: #A8A8A8;
    height: 55px;
    width: 80%;
    max-width: 400px;
    border-radius: 30px;
    border: 0px;
    padding-left: 20px;
    display: flex;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.5);
}

.barra-bus input[type="text"] {
    background-color: transparent;
    border: 0px;
    height: 45px;
    width: 80%;
    align-self: center;
    font-size: 18px;
    overflow: hidden;
}

.barra-bus input[type="text"]:focus {
    outline: none;
}

.zona-3 {
    display: flex;
    justify-content: center;
}

.top-recetas {
    margin-top: 100px;
    max-width: 1000px;
    text-align: center;
    padding: 0px 0px 20px 0px;
    border-radius: 10px;
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(182, 182, 182, 0.2));
}

.top-recetas h2 {
    font-size: 25px;
    margin-bottom: 4%;
    padding: 10px 20px;
    border-radius: 10px 10px 0px 0px;
    color: #ffffff;
    font-weight: bold;
    background-color: rgb(216, 0, 0);
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3);
}

.receta {
    display: inline-block;
    width: 200px;
    margin: 0 20px;
    text-align: center;
}

.like-icon {
    font-size: 20px;
    color: red;
}

.receta img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.receta h3 {
    font-size: 18px;
    margin-top: 10px;
    font-weight: 500;
}

.receta p {
    font-size: 14px;
    color: #666;
    font-weight: 1000;
    margin-top: 5px;
}

.receta:hover img {
    transform: scale(1.1);
}

@media screen and (max-width: 768px) {
    .main {
        margin-top: 100px;
    }

    .zona-1 h3 {
        max-width: 80%;
    }

    .barra-bus input[type="text"] {
        width: 200px;
    }
    
    .top-recetas {
        width: 80%;
    }
}