@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    font-family: "Open Sans", sans-serif;
    background-color: #e7e7e7;
    margin: 0;
}

.main {
    display: flex;
    margin-top: 100px;
}

.zona-1 {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: auto;
    border-right: 1px solid black;
    justify-content: center;
    align-items: center;
}

.card {
    padding: 15px 20px;
    background-color: #212121;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: bold;
    box-shadow: rgb(0, 0, 0, 1) 0px 4px 15px;
    margin-bottom: 20px;
    margin: 30px 50px;
}

.card img {
    width: 250px;
    height: auto;
    margin-inline: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    align-self: center;
}

.perfil-card {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.perfil-card img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.usuario {
    display: flex;
    align-items: center;
    align-items: center;
}

.etiquetas {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.etiquetas label {
    border: 1px solid #6ff531;
    padding: 5px;
    border-radius: 10px;
}

.botones {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.interacciones {
    background: transparent;
    border: 0;
    color: #fff;
    font-size: 20px;
}

.zona-2 {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: auto;
    align-items: center;
}

.zona-usuario {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin-top: 20px;
    padding: 10px;
    background-color: #cfcfcf;
    border-radius: 10px;
    box-shadow: rgb(0, 0, 0, 0.3) 0px 4px 10px;
}

.zona-usuario img {
    height: 50px;
    width: 50px;
}

.zona-usuario-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.zona-usuario button {
    background-color: #bd0000;
    padding: 10px 20px;
    border: 0;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.zona-usuario button:hover {
    filter: brightness(110%);
    scale: 1.05;
}

.zona-usuario button:active {
    scale: 0.9;
    filter: brightness(90%);
}

.sugeridos {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sugeridos button {
    background-color: #0024ee;
}

.zona-usuario-3 {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


@media screen and (max-width: 620px) {
    .main {
        flex-direction: column;
    }

    .zona-1 {
        width: 100%;
        border: 0;
    }

    .zona-2 {
        width: 100%;
    }
}