@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

body {
    min-height: 100vh;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    padding: 20px 0px;
    background: black;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    z-index: 100;
}

.logo {
    margin-left: 30px;
    display: flex;
    align-items: center;
    font-size: 28px;
    text-decoration: none;
    font-weight: 700;
    color: #fff;
}

.div-menu button {
    margin-left: 30px;
    background: none;
    color: #fff;
    border: 0;
    font-size: 30px;
    align-items: center;
    display: none;
}

.navbar {
    flex-wrap: wrap;
    margin-right: 30px;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
    }

    .navbar {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .div-menu button {
        display: block;
    }
}